h1 {
    font-family: monospace;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: pink;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

   /* border: 0.3vmin solid whitesmoke;
    border-radius: 1vmin;
    padding: 0.5vmin;
    box-sizing: border-box;*/
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    /*box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);*/
    font-size: 8vmin;
    color: cornflowerblue;
    background-color: whitesmoke;
}

/*.try{
    width: 63vmin;
    height: 63vmin;

    border: 0.3vmin solid whitesmoke;
    border-radius: 1vmin;

    display: flex;
    justify-content: center;
    align-items: center;
}*/

#reset {
    padding: 1rem;
    font-size: 1.10rem;
    background-color: palevioletred;
    color: aliceblue;
    border-radius: 1rem;
}

#newBtn {
    padding: 1rem;
    font-size: 1.10rem;
    background-color: palevioletred;
    color: aliceblue;
    border-radius: 1rem;
}

#msg {
    color: cornflowerblue;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}

